Sat_Simulator/src/__pycache__/transmission.cpython-312.pyc
Sat_Simulator/src/__pycache__/node.cpython-312.pyc
Sat_Simulator/src/__pycache__/imageSatellite.cpython-312.pyc
Sat_Simulator/src/__pycache__/imageSamplingSatellite.cpython-312.pyc
Sat_Simulator/src/__pycache__/image.cpython-312.pyc
Sat_Simulator/log/om
Sat_Simulator/images.txt
